<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="/js/bootstrap.js"></script>
    <title>Online Invoicing</title>
</head>
<body>
<style>
    body {
        background-color: aqua;
    }

    p {
        color: black;
    }
</style>
<div th:insert="/fragments/header :: header"></div>

<main class="container-fluid">
    <div class="row">
        <div th:insert="/fragments/sidebar :: menu"></div>
        <br>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h3 class="form-row">Cities</h3>
            <p class="form-row">This page is designed to manage your cities.</p>
            <form action="#" th:action="@{/app/cities/saveCity}" th:object="${city}"
                  method="post" id="cityId">
                <div class="form-row">
                    <img src="/img/city.jpg" alt="Register a city" height="100px">
                    <br>
                    <br>
                    <div class="container-fluid">
                    <p>Add a city bellow.</p>
                    <div th:if="${message!=null}" class="alert alert-success"
                         th:text="${message}"></div>
                    <input type="hidden" class="form-control" id="cityId"
                           th:field="*{cityId}">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" id="cityInput"
                               placeholder="Enter a city name"
                               th:field="*{cityName}">
                    </div>
                    <br>
                    <br>
                    <div>
                        <button type="submit" value="Save">Submit</button>
                        <button type="button" value="Reset">Reset</button>
                    </div>
                        <hr>
                        <table class="table table-hover" style="De:450px">
                            <thead>
                            <tr align="center">
                                <th class="table-secondary"> City name</th>
                                <th class="table-secondary"> Edit Action</th>
                                <th class="table-secondary"> Delete Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${cityList.isEmpty()}">
                                <td colspan="3"> No city is available.</td>
                            </tr>
                            <tr th:each="city: ${cityList}">
                                <td align="center" scope="row"><span th:text="${city.cityName}"> City name </span></td>
                                <td align="center"><a th:href="@{/app/cities/edit/{cityId}(cityId=${city.cityId})}">Edit</a></td>
                                <td align="center"><a th:href="@{/app/cities/delete/{cityId}(cityId=${city.cityId})}">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                </div>
                </div>
            </form>
        </main>
    </div>
        </main>
</body>
</html>

