<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="/js/bootstrap.js"></script>
    <title>Online Invoicing</title>
</head>
<body>
<style>
    body {
        background-color: aqua;
    }

    p {
        color: black;
    }
</style>
<div th:insert="/fragments/header :: header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:insert="/fragments/sidebar :: menu"></div>
        <br>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h3>Countries</h3>
            <p>This page is designed to manage the countries.</p>
            <form action="#" th:action="@{/app/saveCountry}" th:object="${country}"
                  method="post" id="countryId">
                <div class="form-row">
                    <img src="/img/countries.jpg" alt="Register a country" height="100px">
                <br>
                <br>
                    <p><strong>Add a country bellow.</strong></p>
                    <div th:if="${message!=null}" class="alert alert-success"
                         th:text="${message}"></div>
                    <input type="hidden" class="form-control" id="countrytId"
                           th:field="*{countryId}">
                    <div class="form-group col-md-2">
                        <label for="countryInput">Country</label>
                        <input type="text" class="form-control" id="countryInput"
                               placeholder="Country name"
                               th:field="*{countryName}">
                    </div>
                    <br>
                    <br>
                    <button type="submit" value="Submit">Submit</button>
                    <button type="reset" value="Reset">Reset</button>
                </div>
        </form>
        <hr>
            <table class="table table-hover" style="De:450px">
                <thead>
                <tr align="center">
                    <th class="table-secondary">Country name</th>
                    <th class="table-secondary"> Edit Action</th>
                    <th class="table-secondary"> Delete Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${countryList.isEmpty()}">
                    <td colspan="3">No country is available.</td>
                </tr>
                <tr align="center" th:each="country:${countryList}">
                    <td scope="row"><span th:text="${country.countryName}">Country name</span></td>
                    <td><a th:href="@{/app/countries/edit/{countryId}(countryId=${country.countryId})}"> Edit</a></td>
                    <td><a th:href="@{/app/countries/delete/{countryId}(countryId=${country.countryId})}"> Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>
</body>
</html>