<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="/js/bootstrap.js"></script>
    <title>Online Invoicing</title>
</head>
<body>
<style>
    body {
        background-color: aqua;
    }

    p {
        color: black;
    }
</style>
<div th:insert="/fragments/header :: header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:insert="/fragments/sidebar :: menu"></div>
        <br>
        <br>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h3><strong>Types of payments</strong></h3>
            <p>This page is designed to manage the types of payments.</p>
            <form action="#" th:action="@{/app/savePaymentType}" th:object="${paymentType}"
                  method="post" id="paymentTypeForm">

                <div class="form-row">
                    <img src="/img/payment_ype.jpg" alt="Register a payment type" height="100px">
                    <br>
                    <br>
                    <p><strong>Add a payment type bellow.</strong></p>
                    <div th:if="${message!=null}" class="alert alert-success"
                         th:text="${message}"></div>
                    <input type="hidden" class="form-control" id="paymentTypeId"
                           th:field="*{paymentTypeId}">
                    <div class="form-group col-md-3">
                        <label for="paymentTypeInput">Payment type</label>
                        <input type="text" class="form-control" id="paymentTypeInput"
                               placeholder="Enter payment type"
                               th:field="*{paymentTypeName}">
                    </div>
                    <br>
                    <br>
                    <button type="submit" value="Submit">Submit</button>
                    <button type="reset" value="Reset">Reset</button>
                    <hr>

                    <table class="table table-hover" style="width: 450px">
                        <thead>
                        <tr  th:align="center">
                            <th class="table-secondary"> Payment type</th>
                            <th class="table-secondary"> Edit Action</th>
                            <th class="table-secondary"> Delete Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${paymentTypeList.isEmpty()}">
                            <td colspan="3"> No payment type is available.</td>
                        </tr>
                        <tr th:align="center" th:each="paymentType: ${paymentTypeList}">
                            <td scope="row"><span th:text="${paymentType.paymentTypeName}"> Payment type</span></td>
                            <td>
                                <a th:href="@{/app/payment_type/edit/{paymentTypeId}(paymentTypeId=${paymentType.paymentTypeId})}">Edit</a>
                            </td>
                            <td>
                                <a th:href="@{/app/payment_type/delete/{paymentTypeId}(paymentTypeId=${paymentType.paymentTypeId})}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </main>
    </div>
</div>
</body>
</html>