<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="/js/bootstrap.js"></script>
    <title>Online Invoicing</title>
</head>
<body>
<style>
    body {
        background-color: aqua;
    }

    p {
        color: black;
    }
</style>
<div th:insert="/fragments/header :: header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:insert="/fragments/sidebar :: menu"></div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <br>
            <br>
            <h3><strong>Payments</strong></h3>
            <p>This page is designed to manage your payments.</p>
            <form action="#" th:action="@{/app/savePayment}" th:object="${payment}"
                  method="post">
                <div class="form-row">
                    <img src="/img/payment.jpg" alt="Payments" height="100px">
                    <br>
                    <br>
                    <p><strong>Add a payment bellow.</strong></p>
                    <div th:if="${message!=null}" class="alert alert-success"
                         th:text="${message}"></div>
                    <input type="hidden" class="form-control" id="productId"
                           th:field="*{paymentId}">
                    <div class="form-group col-md-2">
                        <label for="paymentType">Payment Type</label>
                        <select id="paymentType" class="form-control" th:field="*{paymentType}">
                            <option selected value="0">Choose a payment type</option>
                            <option th:each="paymentType:${paymentTypeList}"
                                    th:value="${paymentType.paymentTypeId}"
                                    th:text="${paymentType.paymentTypeName}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="clientName">Client</label>
                        <select id="clientName" class="form-control" th:field="*{client}">
                            <option selected value="0">Choose a client</option>
                            <option th:each="client:${clientList}"
                                    th:value="${client.clientId}"
                                    th:text="${client.clientName}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="valuePaidInput">Value paid</label>
                        <input type="text" class="form-control" id="valuePaidInput"
                               placeholder="Enter a value to be paid"
                               th:field="*{valuePaid}">
                    </div>
                    <br>
                    <br>
                    <div>
                        <button type="submit" value="Submit">Submit</button>
                        <button type="reset" value="Reset">Reset</button>
                    </div>
                </div>
            </form>
            <hr>
            <table class="table table-hover; row-cols-lg-auto">
                <thead>
                <tr th:align="center">
                    <th class="table-secondary"> Payment type</th>
                    <th class="table-secondary"> Client</th>
                    <th class="table-secondary"> Value paid</th>
                    <!--<th align="center" class="table-secondary"> Invoice paid</th>-->
                    <!--<th align="center" class="table-secondary"> Value unpaid of invoice</th>-->
                    <th class="table-secondary"> Edit Action</th>
                    <th class="table-secondary"> Delete Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${paymentList.isEmpty()}">
                    <td colspan="8"> No payment is available.</td>
                </tr>
                <tr th:each="payment:${paymentList}">
                    <td align="center" scope="row"><span th:text="${payment.paymentType.paymentTypeName}"> Product Type</span></td>
                    <td align="center" scope="row"><span th:text="${payment.client.clientName}"> Client name</span></td>
                    <td align="right" scope="row"><span th:text="${payment.valuePaid}"> Value paid</span></td>
                    <!--<td align="right" scope="row"><span th:text="${invoice.invoiceLine}"> Value unpaid of invoice/<span></td>-->
                    <td align="center"><a th:href="@{/app/payments/edit/{paymentId}(paymentId=${payment.paymentId})}">
                        Edit</a>
                    </td>
                    <td align="center"><a th:href="@{/app/payments/delete/{paymentId}(paymentId=${payment.paymentId})}">
                        Delete</a></td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>
</body>
</html>